/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {

}

.main {

}

.landing {

}

.quadrant {

}

.code {

}

.rpg {

    
}

.music {

   
}

.one-piece {

}
